.image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 8px;
}

.memories {
  padding-left: 16px;
  margin: 0;
}

.memoryImage {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 4px;
}
.link {
  text-decoration: none;
  color: var(--theme-text);
  background: var(--theme-background);
  display: block;
  transition: background 200ms ease, color 200ms ease;

  &:hover,
  &:focus {
    background: var(--theme-text);
    color: var(--theme-background);
  }
}
